Analysis_Pipeline/*.numbers
Analysis_Pipeline/.Rhistory
Icon\r
Icon?
.DS_Store
.dropbox
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
Corpora/phono/
Corpora/concat/
Corpora/split/
Manuscript/
Results/
Analysis_Pipeline/CatalanSpanish_recipe/cat.txt
Analysis_Pipeline/CatalanSpanish_recipe/results.zip
Analysis_Pipeline/CatalanSpanish_recipe/spa.txt
Analysis_Pipeline/EnglishSpanish_recipe/eng.txt
Analysis_Pipeline/EnglishSpanish_recipe/spa.txt
